<div class="container-fluid mt-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">取引先マスタ一覧</h6>
      <div>
        <%= link_to '新規登録', new_client_path, class: 'btn btn-primary btn-sm' %>
        <%= link_to 'CSV出力', clients_path(format: :csv), class: 'btn btn-outline-secondary btn-sm ml-2' %>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>取引先コード</th>
              <th>取引先名</th>
              <th>フリガナ</th>
              <th>郵便番号</th>
              <th>電話番号</th>
              <th>残高</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td><%= client.code %></td>
                <td><%= client.name %></td>
                <td><%= client.name_kana %></td>
                <td><%= client.postal_code %></td>
                <td><%= client.tel %></td>
                <td><%= number_to_currency(client.current_balance) %></td>
                <td>
                  <%= link_to '詳細', client_path(client), class: 'btn btn-info btn-sm' %>
                  <%= link_to '編集', edit_client_path(client), class: 'btn btn-primary btn-sm' %>
                  <%= link_to '削除', client_path(client), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
